* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}
.content {
    width: 196px;
    height: 245px;
    margin: 0;
    font-weight: bold;
}

.content:last-child {
    height: 245px;
}

.content.page-break {
    display: block;
    page-break-after: always;
}

.content.page-break:last-child {
    display: block;
    page-break-after: avoid;
}

.row {
    display: inline-block;
    width: 100%;
}

.col-9 {
    float: left;
}


.col-9 {
    width: 78%;
}
.info-user {
    margin-top: 2px;
    margin-left: 3px;

    max-height: 56px;
    width: 100%;
    text-transform: uppercase;
    font-size: 8px;
}

.info-user p {
    margin: 0 5px 1px 0;
}

.info-note .col-9 {
    width: 75%;
    margin-left: 3px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    border-right: 1px dotted black;
    height: 32px;
}

.info-note .col-3 {
    padding-left: 3px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.info-note p {
    font-size: 7px;
}

p {
    margin: 0;
}

body {
    font-family: "Arial";
    size: 196px 245px;
    margin: 0;
    min-height: auto;
}
#barcode {
    display: table;
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#barcode img {
    width: 180px;
    height: 30px;
}
